/* Color Palette
#FFDD99 - pale yellow, background
*/

body {
    background-color: #FFDD99;
}

.card {
    background-color: #FFDD99;
    border: none;
}

#profileimg {
    margin: 0px auto;
    width: 50%;
    height: auto;
}

.container {
    /*padding: 10%;*/
    border: 1px solid black;
    margin-top: 50px;
}

.left, .right {
    float: left;
    border: 1px solid #FFAA00;
    margin: 10px;
}

.left {
    padding: 10px;
}