@import url('https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P&display=swap');

/* Color Palette
#FFDD99 - pale yellow, background
#FFF4DE - white-yellow, secondary light background
#261A00 - dark brown, text
*/

body {
    background-color: #FFDD99;
    color: #261A00;
}

/*Styling for the cards & images in cards*/
.card {
    border: none;
    background-color: #fff4de;
    color: #261A00;
}

#profileimg {
    padding-top: 20px;
    margin: 0px auto;
    width: 50%;
    height: auto;
}

/*General styling*/

.container {
    margin-top: 50px;
}

.nav-link {
    color: #FFAA00;
}
.nav-link:hover {
    color: #fff;
    background-color: #FFAA00;
}

.left, .right {
    float: left;
    background-color: #fff4de;
    border: 1px dashed #FFAA00;
    margin: 10px;
    box-shadow: 8px 8px #FFAA00;
}

.left {
    padding: 10px;
}

.right {
    padding: 20px;
    overflow: scroll;
}

/*Code specs for the portfolio*/
.gallery-card {
    background-color: #fff;
    width: 30%;
    font-size: 11px;
    float: left;
    text-align: justify;
    overflow: hidden;
}

#gall-middle {
    margin-left: 5%;
    margin-right: 5%;
}

#gallery-container {
    overflow: scroll;
    padding: 10px;
}

.portfolioimg {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

/*Styling for the code images*/
#code-icons{
    margin: 0 auto;
}
.codeimg {
    width: 15%;
    height: auto;
    margin: 2%;
}

/*Form styling*/
form {
    margin: 5px;
}

#emailbtn {
    background-color: #fff;
    color: #FFAA00;
    border: 1px solid #FFAA00;
}

#emailbtn:hover {
    background-color: #FFAA00;
    color: #fff;
    border-color: #fff;
}