@import url('https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P&display=swap');

/* Color Palette
#FFDD99 - pale yellow, background
#FFF4DE - white-yellow, secondary light background
#261A00 - dark brown, text
*/

body {
    background-color: #FFDD99;
    color: #261A00;
}

.card {
    border: none;
    background-color: #fff4de;
    color: #261A00;
}

#profileimg {
    margin: 0px auto;
    width: 50%;
    height: auto;
}

.container {
    margin-top: 50px;
}

.nav-link {
    color: #FFAA00;
}
.nav-link:hover {
    color: #fff;
    background-color: #FFAA00;
}

.left, .right {
    float: left;
    background-color: #fff4de;
    border: 1px dashed #FFAA00;
    margin: 10px;
}

.left {
    padding: 10px;
}

.right {
    text-align: center;
    padding: 10px;
}

.gallery-card {
    background-color: #fff;
    font-size: 11px;
    float: left;
    text-align: justify;
    margin: 5px;
}

#gallery-container {
    overflow: scroll;
}